.toDayAddTask {
    min-height: 505px;
    max-height: 600px;
    overflow-y: scroll;
    width: 505px;
    padding: 20px 13px 7px 23px;
    font-family: Source Serif Pro;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
}

.squareBox {
    width: 25px;
    height: 25px;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 5px;
}

.nameYourTask {
    font-family: Source Serif Pro;
    font-size: 18px;
    border: none;
    opacity: 0.5;
}

.nameYourTask:focus {
    outline: none;
}

.nameYourTask::placeholder {
    font-family: Source Serif Pro;
    font-size: 18px;
    opacity: 0.5;
}

.selectTab {
    width: 133px;
    height: 30px;
    align-items: center;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    flex-direction: row;
    justify-content: space-between;
}

.datePicker::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: block;
    width: 133px;
    height: 20px;
    border-width: thin;
    cursor: pointer;
}

.datePicker::-webkit-datetime-edit {
    display: none;
}

.datePicker {
    opacity: 0;
    position: absolute;
}

.detailsOfTheTask {
    resize: none;
    margin-top: 17px;
    height: 100px;
    padding: 10px;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    font-size: 18px;
    font-family: Source Serif Pro;
}

.detailsOfTheTask::placeholder {
    font-size: 18px;
    font-family: Source Serif Pro;
    opacity: 0.5;
}

.detailsOfTheTask:focus {
    outline: none !important;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
}

.addOptions {
    opacity: 0.6;
    margin-top: 5px;
    flex-direction: row;
    gap: 20px;
}

.checkListLabel {
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}

.createBtn {
    width: 100px;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color: #d7f8e7;
    border-radius: 5px;
}

.selectView {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    margin-left: 24px;
}

.selectName {
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    font-size: 18px;
}

.reportMain {
    flex-direction: row;
    gap: 7px;
    align-items: center;
    margin-top: 10px;
}

.dueMain {
    flex-direction: row;
    gap: 7px;
    align-items: center;
    margin-top: 10px;
}

.assignedMain {
    flex-direction: row;
    gap: 7px;
    align-items: center;
    margin-top: 10px;
}